<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      Seattle's homeless population ranks
      <a class="underline-link" href="https://www.kuow.org/stories/here-s-how-seattle-and-washington-compare-to-national-homeless-trends#:~:text=The%20homeless%20population%20in%20Seattle,percent%20increase%20over%20last%20year." target="_blank">3rd in the US.</a>
      However, we don't see many foodbanks and it's pretty difficult to find foodbanks that are short on food. <br>
      To help with this, I wanted to create an application that would <strong>display food banks in a given area.</strong> Food banks here would be marked by colors, 
      so food banks short on food would be marked in<span style="color:red;"> red</span>, and those with enough food would be marked in <span style="color:green;">green</span>.
    </p>

    <p>
     I think this idea would be impactful towards the homeless community for multiple reasons.
     <ol>
      <li>People can find food banks in Seattle to donate to</li>
      <li>People who do not have food can find areas that they can get food from</li>
      <li>While this is not the main goal for the app, people can also food banks in Seattle that they can volunteer at</li>
     </ol>
    </p>

    <p>
      The users of this application could be people willing to donate food, volunteer at local shelters, or people in need of food. I think for now, I would limit the area that
      people can find food banks in to just Seattle. It will be interactive as a user can enter an area code (for example, "98105"), and foodbanks within the area would show up.
      <br>
      I will be compiling information from <cite><a href="https://www.foodpantries.org/ci/wa-seattle"> FoodPantries.org</a></cite> to create a .csv file of area codes and locations.
      <br>
      The interactions I expect are filtering from locations, and being able to click on a location point to receive more information about the foodbank.
    </p>

  </div>
</section>
